body {
    position: relative;
}

.cont1 {
    padding-top: 52px;
    height: 100vh;
    text-align: center;
    background-color: red;
}

.cont2 {
    padding-top: 50px;
    height: 100vh;
    text-align: center;
    background-color: green;
}

.cont3 {
    padding-top: 50px;
    height: 100vh;
    text-align: center;
    background-color: blue;
}

.who {
    margin-top: 45vh;
}

.what {
    margin-top: 45vh;
}

.where {
    margin-top: 45vh;
}

.foot1 {
    height: 25vh;
    background-color: black;
    text-align: center;
    color: white;
    font-family: Montserrat, monospace;
}