body {
    position: relative;
}

.cont1 {
    padding-top: 52px;
    height: 100vh;
    text-align: center;
    background-color: red;
}

.cont2 {
    padding-top: 50px;
    height: 100vh;
    text-align: center;
    background-color: green;
}

.cont3 {
    padding-top: 50px;
    height: 100vh;
    text-align: center;
    background-color: blue;
}